@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

@font-face {
	font-family: 'Colus';
	src: url('Fonts/Colus/Colus-Regular.eot');
	src: url('Fonts/Colus/Colus-Regular.woff') format('woff'),
		url('Fonts/Colus/Colus-Regular.otf') format('opentype'),
		url('Fonts/Colus/Colus-Regular.ttf') format('truetype');
}

html,body {
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color:#222;
	font-size: 1rem;
}

.navbar {
	padding: .8rem;
}

.navbar-nav li {
	padding-right: 20px;
}

.nav-link {
	font-size: 1.1em !important;
}

.logo {
	width: 40%;
	height: 100%;
}

.logoB{
	max-height: 100px;
}

.logoC {
	max-height: 80px;
}

.back {
	width: 100%;
	height: 500px;
	background: linear-gradient(rgba(137, 192, 199, 0), rgba(137, 192, 199, 1)), url(imgs/bath_atm.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	display: flex;
}

.card-columns {
	margin-right: 5%;
	margin-left: 5%;
}

.caption-inner img {
	width: 100% !important;
	height: 100%;
}

.carousel-inner img {
	width: 100% !important;
	height: 100%;
}

.carousel-caption {
    justify-content: space-around;
    left: 0;
    top: 40%;
    width: 100%;
}

.carousel-caption h1 {
	font-size: 500%;
	text-transform: uppercase;
	text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
	font-size: 200%;
	font-weight: 500;
	text-shadow: 1px 1px 10px #000;
	padding-bottom: 1rem;
}

.carousel .carousel-indicators li {
  background-color: #fff;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel .carousel-indicators .active {
  background-color: #444;
}

.btn-primary {
	background-color: #7fc2c9;
	border: 1px solid #7fc2c9;
}

.btn-primary:hover {
	background-color: #563d7c;
	border: 1px solid #563d7c;
}

.jumbotron {
	padding: 1rem;
	border-radius: 0;
	background-color: #89c0c7;
}

.padding {
	padding: 2rem 10rem 4rem 10rem;
	}
	
.columnEd {
	column-gap: 4rem;
}

.welcome {
	margin: 0 auto;
	padding-top: 2 rem;
}

.welcome hr {
	border-top: 2px solid #89c0c7;
	width: 95%;
	margin-top: .3rem;
	margin-bottom: 1rem;
}

.fa-code {
	color: #e54d26
}

.fa-bold {
	color: #563d7c;
}

.fa-css3 {
	color: #2163af;
}

.fa-code, .fa-bold, .fa-css3 {
	font-size: 4em;
	margin: 1rem;
}

.social a {
	font-size: 4.5em;
	padding: 3rem;
}

.fa-facebook {
	color: #3b5998;
}

.fa-instagram {
	color: #517fa8;
}

.fa-linkedin {
	color: #0e76a8
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover {
	color: #d5d5d5;
}

footer {
	background-color: #3f3f3f;
	color: #d5d5d5;
	padding: 1rem 0rem;
}

footer a {
	color: #d5d5d5;
}


hr.light {
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}

hr.light-100{
	border-top: 1px solid #d5d5d5;
	width: 100%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}

hr.blue {
	border-top: 2px solid #89c0c7;
	width: 95%;
	margin-top: .3rem;
	margin-bottom: 1rem;
}

/*-- Media Queries --*/
@media (min-width: 1100px) {
	.bord {
	border-right: solid 3px #d5d5d5;
	}

	.padding_SS {
		padding-top: 2rem;
	}

	.card-columns {
		column-count: 4;
	}

	.welcome {
		width: 75%;
	}
}

@media (max-width: 992px) {
	.social a{
		font-size: 4rem;
		padding: 4rem;
	}

	.bord{
		border-bottom: solid 3px #d5d5d5;
		margin: 0rem 4rem;
	}

	.card-columns {
		column-count: 3;
	}
}

@media (max-width: 768px) {
	.carousel-caption {
		top: 45%;
	}

	.carousel-caption h1 {
		font-size: 350%;
	}

	.carousel-caption h3 {
		font-size: 140%;
		font-weight: 400;
		padding-bottom: .2rem;
	}
	
	.carousel-caption btn {
		font-size: 95%;
		padding: 8px 14px;
	}
	.display-4 {
		font-size: 200%;
	}
	
	.social a{
		font-size: 2.5em;
		padding: 1.2rem;
	}
	
	.padding {
		padding: 4rem;
	}

	  .card-columns {
  	column-count: 2;
  }

  .welcome {
  		width: 100%;
  }

}

@media (max-width: 576px) {
  	.carousel-caption {
		top: 40%;
	}

	.carousel-caption h1 {
		font-size: 250%;
	}

	.carousel-caption h3 {
		font-size: 110%;
	}
	
	.carousel-caption btn {
		font-size: 90%;
		padding: 4px 8px;
	}
	
	.carousel-indicators {
		display: none;
	}
	
	.display-4 {
		font-size: 160%;
	}
	
	.social a{
		font-size: 2em;
		padding: .7rem;
	}
	
	.padding {
		padding: 2rem;
	}

	.card-columns {
  		column-count: 1;
  }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  margin: 0;
}

#fixed {
  background: linear-gradient(rgba(137, 192, 199, 0), rgba(137, 192, 199, 1)), url(imgs/bath_atm.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/